App: {{ app_name }}
Port: {{ app_port }}
DB Host: {{ db.host }}
OS: {{ ansible_distribution }} {{ ansible_distribution_version }}
IP: {{ ansible_default_ipv4.address }}
RAM: {{ ansible_memtotal_mb }} MB
